<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
</head>   <style>
        body{
            padding: 10px;
        }
    </style>

<body>
    <script>
        alert("<%= question.question %> has been added")
        </script>
        <div class="ui raised segment">
        <h1><%= question.question %></h1>
        <a href="/" class="ui red button"><i class="ui backward icon"></i></a>
        </div>
    
</body>
</html>